<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${appName}"></title>
</head>
<body>
	<h1>Create Account</h1>
	<form action="#" th:action="@{/createUserAccount}" th:object="${user}" method="post" modelAttribute="user">
		<table>
			<tr>
				<td>email:</td>
				<td><input type="email" th:field="*{email}" value="${user.email}" /></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</td>
			</tr>
			<tr>
				<td>password:</td>
				<td><input type="password" th:field="*{pass}" /></td>
				<td th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">Password error</td>
			</tr>
			<tr>
				<td>Company Name:</td>
				<td><input type="text" th:field="*{company}" /></td>
				<td th:if="${#fields.hasErrors('company')}" th:errors="*{company}">Company Name error</td>
			</tr>
			<tr>
				<td>TVA Intercom:</td>
				<td><input type="text" th:field="*{tva}" /></td>
				<td th:if="${#fields.hasErrors('tva')}" th:errors="*{tva}">TVA error</td>
			</tr>
			<tr>
				<td>SIRET:</td>
				<td><input type="text" th:field="*{siret}" /></td>
				<td th:if="${#fields.hasErrors('siret')}" th:errors="*{siret}">SIRET error</td>
			</tr>
			<tr>
				<td>Number of Employees:</td>
				<td><input type="number" th:field="*{employees}" /></td>
				<td th:if="${#fields.hasErrors('employees')}" th:errors="*{employees}">Employees error</td>
			</tr>
			<tr>
				<td>Newsletter:</td>
				<td><input type="checkbox" th:field="*{newsletter}" /></td>
				<td th:if="${#fields.hasErrors('newsletter')}" th:errors="*{newsletter}">Employees error</td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
				<td><button type="reset">Reset</button></td>
			</tr>
		</table>
	</form>
	<a href="/">Abort and return to Home</a>
</body>
</html>