<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${appName}"></title>
</head>
<body>
	<h1>Hello !</h1>
	<p>Welcome on our e-shop website</p>

	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/createUserAccount">Create Account</a></li>
			<li><a href="/api/users">List Users</a></li>
		</ul>
	</nav>

</body>
</html>